useDynLib("AFTrees")

export(AFTrees,IndivAFT,IndivAFTNew, IndivAFTSeparate, SurvivalProb,Cstat, cv.AFTree, cv.IndivAFT, RiskScore)

importFrom(nnet, class.ind)
importFrom("graphics", "abline", "contour", "image", "lines", "par","plot", "title","points")
importFrom("stats", "lm", "pnorm", "quantile", "dnorm", "integrate", "median", "uniroot")
importFrom("utils", "combn")
importFrom("survival", "survreg", "Surv", "survfit")

S3method(plot, aftree)
S3method(plot, indivaft)
S3method(plot, aftsurvcurves)
